<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="aqui va mi cuenta" target="_blank"
        ><i class="fa fa-facebook-official"></i
      ></a>
      <a href="aqui va mi cuenta" target="_blank">
        <i class="fa fa-twitter"></i
      ></a>
      <a href="aqui va mi cuenta" target="_blank"
        ><i class="fa fa-github"></i
      ></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Contact</a></li>
      <li class="list-inline-item"><a href="#">Portfolio</a></li>
    </ul>
    <p class="copyright">Jorge Varela © AP 2022</p>
  </footer>
</div>
