<!-- =========  Header ========= -->
<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="header_left">
      <img id="logoarg" src="../assets/APLogo-20-20.png" />
    </div>
    <div class="header_right">
      <a href="https://github.com/osvaldovarela/" id="sns2"
        ><i class="fa fa-github-square"></i
      ></a>
      <!-- <a href="https://twitter.com/anacoronel" id="sns"
          ><i class="fa fa-twitter"></i
        ></a> -->
      <a href="https://www.linkedin.com/in/varelajorge/" id="sns3"
        ><i class="fa fa-linkedin"></i
      ></a>
      <button type="button" class="btn btn-outline-secondary btn-sm" id="login">
        Login
      </button>
    </div>
  </div>
</header>
<!-- Fin Header -->

<section>
  <div class="row">
    <!-- ======= Hero Section ======= -->
    <div
      id="hero"
      class="hero route bg-image"
      style="background-image: url(../assets/dsc-8355_ccexpress.jpeg)"
    >
      <div class="overlay-itro"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <!-- <p class="display-6 color-d">Hello, world!</p> -->
            <h1 class="hero-title mb-4">Jorge Varela</h1>
            <p class="hero-subtitle">
              <!-- <span
                  class="typed"
                  data-typed-items="Designer, Developer, Freelancer, Photographer"
                ></span> -->
              <span
                class="typed"
                data-typed-items="Full Stack, Freelancer"
              ></span>
            </p>
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
  </div>
  <!-- About me -->
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img
        id="info-user-img"
        class="profile-image"
        src="../assets/portrait -1.png"
      />
      <div class="btn-edit">
        <a href="#" class="btn-right"
          ><i class="fa fa-pencil" onclick="showEditProfileModal()"></i
        ></a>
      </div>
    </div>
    <div id="info-data">
      <div>
        <h1 id="info-name">Jorge Varela</h1>
        <div>
          <span id="info-position1">Lic. en Administración de Empresas</span>
          <span id="info-company"></span>
        </div>
        <div><span id="info-position2">Full Stack Developer Jr.</span></div>
        <div id="info-contact">
          <span id="info-ubication">Buenos Aires (Argentina) </span>
          <span><a href="#">Información de contacto</a></span>
        </div>
      </div>
      <ul id="info-details">
        <li>
          <a href="#">
            <img id="info-school-img" src="../assets/7-1070x660 1.jpg" />
            <h2 id="info-school-name">Universidad Nacional de San Martín</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
